<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col'>
      <h2>Community Detail</h2>
      <table class="table">
        <thead>
          <tr>
            <th>画像</th>
            <th>コミュニティ名</th>
            <th>紹介文</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @community.get_image, size: "100x100" %></td>
            <td><%= @community.name %></td>
            <td><%= @community.introduction %></td>
            <td>
              <%= link_to 'Destroy', admin_community_path(@community), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-danger" %>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>コミュニティユーザー</h2>
      <ul>
        <% @community.communitymembers.each do |member| %>
          <li><%= link_to member.user.name, admin_user_path(member.user) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
