<div class="container">
  <div class="row pt-5 justify-content-center">

    <div class="col-md-2 border">
      <%= render 'public/plant_diaries/sidebar' %>
    </div>

    <div class="col-md-8">

      <h1 class="border-bottom">Plant Diaries</h1>

      <%= link_to '新規投稿', new_plant_diary_path, class: "btn btn-success mb-3" %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @plant_diaries.each do |plant_diary| %>
            <tr>
              <td>
               <%= image_tag plant_diary.resize_diary_image(100, 100, 'fill'), class: "img-thumbnail" %>
              </td>

              <td><%= plant_diary.title %></td>

              <td><%= link_to 'Show', plant_diary, class: "btn btn-info btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
