<h1>Plant Diaries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plant_diaries.each do |plant_diary| %>
      <tr>
        <td><%= plant_diary.title %></td>
        <td><%= plant_diary.content %></td>
        <td><%= link_to 'Show', plant_diary %></td>
        <td><%= link_to 'Edit', edit_plant_diary_path(plant_diary) %></td>
        <td><%= link_to 'Destroy', plant_diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant Diary', new_plant_diary_path %>
