<div class="container">
  <div class="row pt-5 justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><%= @plant_diary.title %></h2>
        </div>
        <div class="card-body">
          <p><strong>Content:</strong></p>
          <p><%= @plant_diary.content %></p>

          <hr>

          <div class="d-flex align-items-center">
            <%= image_tag(@plant_diary.user.get_profile_image, class: "rounded-circle", width: "50", height: "50") %>
            <div class="ml-3">
              <p><strong>Posted by:</strong> <%= link_to @plant_diary.user.name, user_path(@plant_diary.user) %></p>
            </div>
          </div>
          
          <h2>コメント</h2>
            <% @plant_diary.comments.each do |comment| %>
            <p>
              <strong><%= comment.user.name %>:</strong>
              <%= comment.content %>
              <% if comment.user == current_user %>
              <%= link_to '削除', plant_diary_comment_path(@plant_diary, comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
              <% end %>
            </p>
            <% end %>
            
            <h3>新しいコメントを追加</h3>
            <%= form_with(model: [@plant_diary, @plant_diary.comments.build], local: true) do |form| %>
            
            <div>
              <%= form.label :content %>
              <%= form.text_area :content %>
            </div>
            
            <div>
              <%= form.submit 'コメントを投稿' %>
            </div>
          <% end %>

          <hr>

          <% if current_user && current_user.id == @plant_diary.user.id %>
            <%= link_to 'Edit', edit_plant_diary_path(@plant_diary), class: 'btn btn-primary' %>
          <% end %>
          <%= link_to 'Back', plant_diaries_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
