<div class="container pt-5">
  <div class="row justify-content-center">

    <div class="col-md-2 pl-0 pr-0 ">
      <%= render 'public/plant_diaries/sidebar' %>
    </div>

    <div class="col-md-8 offset-md-1">

      <h2 class="border-bottom">タイムライン</h2>
      <h6>フォローしているユーザーの最新の投稿</h6>

      <table class="table pt-5 table-striped post-list-table" border="0">
        <tbody>
          <% if @followed_plant_diaries.present? %>
            <% @followed_plant_diaries.each do |plant_diary| %>
              <tr class="post-item border-bottom">
                <td><%= image_tag plant_diary.resize_diary_image(100, 100, 'fill'), class: "img-thumbnail" %></td>
                <td>
                  <div class="d-flex flex-column">
                    <div class=" mb-2">
                      <span class="post-date"><%= plant_diary.created_at.strftime("%Y-%m-%d") %></span>
                    </div>
                    <p class="post-title"><%= link_to truncate(plant_diary.title, length: 20), plant_diary %></p>
                    <p class="post-content"><%= truncate(plant_diary.content, length: 60) %></p>
                    <div class="d-flex justify-content-between align-items-end">
                      <span class="comment-count mr-2"><i class="fa-regular fa-comment-dots"></i><%= plant_diary.comments.count %></span>
                      <div id="favorite_btn_<%= plant_diary.id %>"><%= render 'public/favorites/favorite', plant_diary: plant_diary %></div>
                      <%= link_to plant_diary.user.name, user_path(plant_diary.user), class: "post-user ml-auto" %>
                    </div>
                    <div class="tags mt-2">
                      <% plant_diary.tags.each do |tag| %>
                        <span class="badge"><i class="fa-sharp fa-solid fa-tag"></i> <%= link_to tag.name, search_path(tag_id: tag.id) %></span>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% else %>
     　　　　 <li class="list-group-item">投稿がありません。</li>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
