<h1>管理者用ユーザー詳細ページ</h1>

<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 pt-5 px-5">
      <h1 class="border-bottom">ユーザー詳細</h1>
      <div class="user-info pt-3">
        <div>
          <%= image_tag @user.resize_profile_image(100, 100, 'fill'), class: "rounded-circle" %>
        </div>
        <div class="user-info pt-3">
          <p>ユーザー名: <%= @user.name %></p>
          <p>メールアドレス: <%= @user.email %></p>
          <p>自己紹介: <%= @user.introduction %></p>
        </div>
        <%= link_to '編集', edit_admin_user_path(@user), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>