<div class="container pt-5">
  <!--左サイドメニュー-->
  <div class="row justify-content-center">
    <div class="col-md-2 pl-0 pr-0">
      <%= render 'public/plant_diaries/sidebar' %>
    </div>
　 <!--右メイン部分-->
    <div class="col-md-8 offset-md-1">
      <!--ユーザー情報-->
      <div class="row border-bottom">
        <div class="col-md-8">
          <h2>プロフィール</h2>
        </div>
      </div>

      <div class="row user-info mt-4 mb-5 align-items-center">
        <div class="col-md-2">
          <%= image_tag @user.resize_profile_image(100, 100, 'fill'), class: "rounded-circle" %>
        </div>
        <div class="col-md-6">
          <h3><%= @user.name %></h3>
          <div class="d-flex mt-2">
            <div class="mr-3">
              <span>フォロー</span>
              <span class="ml-2"><%= link_to follows_user_path(@user) do %>
                <h6><%= @user.follower.count %></h6>
              <% end %></span>
            </div>
            <div class="mr-3">
              <span>フォロワー</span>
              <span class="ml-2"><%= link_to followers_user_path(@user) do %>
                <h6><%= @user.followed.count %></h6>
              <% end %></span>
            </div>

          </div>
        </div>
          <div class="col-md-4 text-right">
            <% if current_user != @user %>
              <div class="btn-group" role="group" aria-label="User actions">
                <% if current_user.following?(@user) %>
                  <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn btn-outline-danger btn-sm mr-2" %>
                <% else %>
                  <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post, class: "btn btn-outline-success btn-sm mr-2" %>
                <% end %>
                <%= link_to 'メッセージ', chat_path(@user.id), class: "btn btn-outline-primary btn-sm" %>
              </div>
            <% end %>

            <% if @user != current_user %>
              <div class="btn-group" role="group" aria-label="Report user">
                <% if current_user.reporter.exists?(reported_id: @user.id) %>
                  <%= button_tag "通報済み", class: "btn btn-outline-primary btn-sm mr-2", disabled: true %>
                <% else %>
                  <%= link_to "ユーザーを通報", new_user_report_path(@user), class: "btn btn-outline-warning btn-sm mr-2 mt-2" %>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>

      <!--タブメニュー-->
      <div class="wrap">
        <ul id="tab-menu">
          <li><a href="#tab1" class="active">プロフィール</a></li>
          <li><a href="#tab2" class="">育成記録</a></li>
          <li><a href="#tab3" class="">おきにいり</a></li>
          <li><a href="#tab4" class="">コミュニティ</a></li>
        </ul>

        <div id="tab-contents">
          <div id="tab1" class="tab">
            <div class="user-info pt-3">
              <%= image_tag @user.resize_profile_image(100, 100, 'fill'), class: "rounded-circle" %>
              <p>ユーザー名: <%= @user.name %></p>
              <p>メールアドレス: <%= @user.email %></p>
              <p>自己紹介: <%= @user.introduction %></p>
            </div>
          </div>

          <div id="tab2" class="tab">
            <%= render 'public/plant_diaries/index' %>
          </div>

          <div id="tab3" class="tab">
            <%= render 'public/users/favorites' %>
          </div>

          <div id="tab4" class="tab">
            <%= render 'public/users/communities' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
