<header class="header" style="background-color: #EFF7E3;">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!--管理者ログイン-->
          <% if admin_signed_in? %>">
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <!--ユーザーログイン-->
          <% elsif user_signed_in? %>

          <li class="nav-item">
            <%= link_to 'マイページ', mypage_users_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>

          <!--ゲスト閲覧-->
          <% else %>
          <li class="nav-item">
            <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'nav-link' %>
          </li>
          <% end %>

        </ul>
      </div>

    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%= image_tag "header_image.png" ,size: "180x70", class: "img-fluid" %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!--管理者ログイン-->
          <% if admin_signed_in? %>
          <li><%= render 'admin/searches/search' %></li>
          <li class="nav-item">
            <%= link_to 'コミュニティ一覧', admin_communities_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to '育成記録一覧', admin_plant_diaries_path, class: 'nav-link' %>
          </li>

          <!--ユーザーログイン-->
          <% elsif user_signed_in? %>
          <li><%= render 'public/searches/search' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', mypage_users_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to '育成記録一覧', plant_diaries_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'コミュニティ一覧', communities_path, class: 'nav-link' %>
          </li>

          <!--ゲスト閲覧-->
          <% else %>
          <li><%= render 'public/searches/search' %>
          </li>

          <li class="nav-item">
            <%= link_to '育成記録一覧', plant_diaries_path, class: 'nav-link' %>
          </li>
          <% end %>

          <!--<li class="nav-item dropdown">-->
          <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--    Dropdown-->
          <!--  </a>-->
          <!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--    <li><a class="dropdown-item" href="#">Action</a></li>-->
          <!--    <li><a class="dropdown-item" href="#">Another action</a></li>-->
          <!--    <li><hr class="dropdown-divider"></li>-->
          <!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          <!--  </ul>-->
          <!--</li>-->

        </ul>
      </div>

    </div>
  </nav>
</header>