<!DOCTYPE html>
<html>
  <head>
    <title>GreenCompass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <!--ヘッダー部分テンプレート-->
    <%= render 'layouts/header' %>
    
    <main class="mb-auto">
      <!--フラッシュメッセージ-->
    <div class="text-center">
      <%= render 'layouts/flash' %>
    </div>  
    
    <%= yield %>
    </main>
    
  </body>
    <!--フッター部分テンプレート-->
 <%= render 'layouts/footer' %>
</html>
